@model ProvaSiteware.MVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Exclusão de Produto";
}

<h3>Deseja realmente excluir esse produto?</h3>
<fieldset>
    <legend>Exclusão de Produto</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preco)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" />
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
