@model ProvaSiteware.MVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes do Produto";
}

<div class="page-header">
    <h2>Detalhes do Produto</h2>
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Nome)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Nome)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Preco)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Preco)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Promocao.Nome)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Promocao.Nome)
</div>

<p>
    @Html.ActionLink("Adicionar ao Carrinho", "Add", "Carrinho", new { codigoProduto = Model.Codigo }, null) |
    @Html.ActionLink("Voltar", "Index")
</p>
