@model ProvaSiteware.MVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes do Produto";
}

<fieldset>
    <legend>Detalhes do Produto</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Preco)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Preco)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Promocao.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Promocao.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Adicionar ao Carrinho", "Add", "Carrinho", new { codigoProduto = Model.Codigo }, null) |
    @Html.ActionLink("Voltar", "Index")
</p>
