@model IEnumerable<Lab.Presentation.MVC.ViewModels.ProdutoViewModel>

@{
    ViewBag.Title = string.Format(Resource.ListaDeX, Resource.Produtos);
}

<div class="page-header">
    <h2>@string.Format(Resource.ListaDeX, Resource.Produtos)</h2>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Promocao.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao.Nome)
            </td>
            <td>
                @Html.ActionLink(Resource.AdicionarAoCarrinho, "Add", "Carrinho", new { codigoProduto = item.Codigo }, null) |
                @Html.ActionLink(Resource.Editar, "Edit", new { id = item.Codigo }) |
                @Html.ActionLink(Resource.Excluir, "Delete", new { id = item.Codigo })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink(string.Format(Resource.IncluirX, Resource.Produto), "Create", null, new { @class = "btn btn-default btn-cons" })
</p>
